<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toy.subkeeper.mapper.UserMapper">
    <select id="detail" parameterType="hashMap" resultType="com.toy.subkeeper.DTO.UserDto$DetailResDto">
        SELECT user.id
            , user.deleted
            , user.created_at as createdAt
            , user.modified_at as modifiedAt
            , user.name
            , user.email
        FROM user
        WHERE user.id = #{id}
    </select>

    <select id="list" parameterType="hashMap" resultType="com.toy.subkeeper.DTO.UserDto$DetailResDto">
        SELECT user.id
        FROM user
        WHERE
            <if test = "deleted != null">AND user.deleted = #{deleted}</if>
            <if test = "name != null">AND user.name = #{name}</if>
            <if test = "email != null">AND user.email = #{email}</if>
    </select>
</mapper>